# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.home-cooking.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\seanf\projects\home-cooking\.idea\.idea.home-cooking\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
